<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Practica 1 - 201504100 </title>
</head>

<body>
    <h1>Generacion de Modelo de Notas</h1>
    <h2>201504100</h2>
    <br>

    <form action = "http://localhost:5000/generar" method = "POST"  enctype = "multipart/form-data">
        <div class="row">
        <div class="col">
        <input type = "file" name = "file" />
        <br>
        <label for="ingresarPoblacion">Ingresar Poblacion</label>
        <input class="form-control" type="text" placeholder="100" name="poblacion" id="poblacion" value="100">
        <br>
        <label for="seleccionFinalizacion">Seleccione un criterio de Finalizacion:</label>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="finalizacion" id="final1" value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                60 % de fitness iguales en el grupo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="finalizacion" id="final2" value="2" checked>
            <label class="form-check-label" for="exampleRadios1">
                 300 :: Numero maximo de generaciones
            </label>
        </div>
        <br>

        <label for="seleccionPadres">Seleccione un modo de seleccion de padres:</label>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="padres" id="padres1" value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                60 % de los mejores padres seleccionados
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="padres" id="padres2" value="2" >
            <label class="form-check-label" for="exampleRadios1">
                Criterio 2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="padres" id="padres3" value="3" >
            <label class="form-check-label" for="exampleRadios1">
                Criterio 3
            </label>
        </div>
        <br>
        <input type = "submit"/>
    </form>
        </div>
        <div class="col">
            <!-- Formulario de Ingreso de Prueba de Modelo -->
            <h3>Predecir nota de estudiante</h3>
            {% if modelo %}
                <h4>Modelo :: ({{modelo[0]}})P1 + ({{modelo[1]}})P2 + ({{modelo[2]}})P3 + ({{modelo[3]}})P4 </h4>
            {% else %}
                <h4>Modelo ::  </h4>
            {% endif %}
            <form action = "http://localhost:5000/evaluar" method = "POST"  enctype = "multipart/form-data">
                <label  class="col-sm-2 col-form-label">Proyecto 1</label>
                <input type="text" class="form-control" placeholder="Nota Proyecto 1" name="p1" id="p1">

                <label  class="col-sm-2 col-form-label">Proyecto 2</label>
                <input type="text" class="form-control" placeholder="Nota Proyecto 2" name="p2" id="p2">

                <label  class="col-sm-2 col-form-label">Proyecto 3</label>
                <input type="text" class="form-control" placeholder="Nota Proyecto 2" name="p3" id="p3">

                <label  class="col-sm-2 col-form-label">Proyecto 4</label>
                <input type="text" class="form-control" placeholder="Nota Proyecto 2" name="p4" id="p4">
                <div class="row">
                    <div class="col">
                        <input type = "submit" class="btn btn-success" />
                    </div>
                    <div class="col-9">
                        <h5 id="res_modelo">RES: {{res}}</h5>
                    </div>
                </div>
            </form>
                
        </div>
        </div>
    
</body>